@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "Noto Sans JP", serif;
}

@media only screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 5.3333333333vw;
  }
}
@media (min-width: 300px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: all;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

html {
  word-wrap: break-word;
}

.inner {
  max-width: 1300px;
  max-width: 81.25rem;
  padding: 0 25px;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .inner {
    max-width: 37.5rem;
    padding: 0 20px;
  }
}

.section-title {
  font-size: 45px;
  font-size: 2.8125rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.3em;
}

body {
  background: black;
}

.mv {
  position: relative;
}

.mv__img {
  height: 100vh;
  width: 100%;
}

.mv__text {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  font-size: 4.375rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.mv__scroll {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.mv__scroll-text {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  color: #fff;
  text-transform: uppercase;
}

.mv__scroll-bar {
  width: 2px;
  height: 50px;
  height: 3.125rem;
  background: #fff;
  margin-inline: auto;
}

@-webkit-keyframes bar {
  0% {
    -webkit-clip-path: inset(0% 0% 100% 0%);
            clip-path: inset(0% 0% 100% 0%);
  }
  50% {
    -webkit-clip-path: inset(0% 0% 0% 0%);
            clip-path: inset(0% 0% 0% 0%);
  }
  100% {
    -webkit-clip-path: inset(100% 0% 0% 0%);
            clip-path: inset(100% 0% 0% 0%);
  }
}

@keyframes bar {
  0% {
    -webkit-clip-path: inset(0% 0% 100% 0%);
            clip-path: inset(0% 0% 100% 0%);
  }
  50% {
    -webkit-clip-path: inset(0% 0% 0% 0%);
            clip-path: inset(0% 0% 0% 0%);
  }
  100% {
    -webkit-clip-path: inset(100% 0% 0% 0%);
            clip-path: inset(100% 0% 0% 0%);
  }
}
.mv__scroll-bar {
  -webkit-animation: bar 2s ease-in-out infinite;
          animation: bar 2s ease-in-out infinite;
}
/*# sourceMappingURL=styles.css.map */
