@use 'global' as *;

.test {
}

.test__inner {
  max-width: rem(1200);
  padding: 0 $padding-pc;
  margin-inline: auto;
  @include mq {
    max-width: rem(600);
    padding: 0 $padding-sp;
  }
}

.test__container {
  padding: 100vh 0;
}

.test__title {
margin-bottom: rem(30) ;
font-size: rem(30) ;
letter-spacing: 0.05em;
}

.test__img {
  width: rem(300) ;
  height: rem(300) ;
  overflow: hidden;
}


.test__img img{
  // 350px
  height: calc(100% + rem(50) );
}




.test__imgs {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap: rem(10) ;
}

