@use 'global' as *;

//news ================
.news {
  padding: 100vh 0;
}

.news__title {
  opacity: 1;
}

.news__lists {
  margin-bottom: rem(50);
}

.news__button {
  margin-bottom: rem(20);
  position: relative;
  display: block;
  padding: rem(14);
  min-width: rem(200);
  width: fit-content;
  margin-left: auto;
  border: 1px solid $blue;
  font-size: rem(14);
  color: $blue;
  text-align: center;
  transition: 0.3s ease-out all;

  span {
    position: relative;
    z-index: 3;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: $blue;
    z-index: 1;
    clip-path: inset(0% 100% 0% 0%);
    transition: 0.3s ease-out all;
  }
}

@media (any-hover: hover) {
  .news__button:hover {
    color: $white;
  }
  .news__button:hover::after {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.news__list {
  opacity: 1;
  margin-top: -1px;
  padding: rem(27) 0;
  border: 1px solid;
  border-color: $gray transparent $gray transparent;
  display: flex;
  align-items: center;
  gap: rem(20);
  @include mq {
    display: block;
    padding: rem(12);
  }
}

@media (any-hover: hover) {
  .news__list:hover {
    opacity: 0.7;
  }
}

.news__list-info {
  gap: rem(15);
  @include mq {
    margin-bottom: rem(8);
  }
}

.news__list-title {
  width: 50%;
  flex-grow: 1;
  transition: 0.3s ease-in-out all;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(20 / 14);
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  @include mq {
    width: 100%;
    font-size: rem(12);
    line-height: calc(18 / 12);
    -webkit-line-clamp: 2;
  }
}

//===================

//item ================
.item-info {
  display: flex;
  align-items: center;
  gap: rem(10);
}

.item-info__date {
  transition: 0.3s ease-in-out all;
  font-size: rem(14);
  font-weight: $bold;
  line-height: calc(26 / 14);
  @include mq {
    font-size: rem(12);
  }
}

.item-info__cate {
  transition: 0.3s ease-in-out all;
  padding: rem(1) rem(7);
  text-align: center;
  width: fit-content;
  border: 1px solid $blue;
  background: $blue;
  color: $white;
  font-size: rem(12);
  color: $white;
  line-height: 1.4;
  @include mq {
    font-size: rem(10);
  }
}

//===================

.title {
  margin-bottom: rem(60);
  position: relative;
  span {
    display: inline-block;
  }
}

.title__main {
  font-size: rem(18);
  font-weight: $bold;
  line-height: calc(24 / 18);
  position: relative;
  z-index: 2;
  margin-bottom: rem(10);
  @include mq {
    font-size: rem(14);
    margin-bottom: rem(5);
  }
}

.title__en {
  font-size: rem(80);
  line-height: 1;
  font-weight: $heavy;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  @include mq {
    font-size: rem(44);
  }
}

.gallery {
  padding: 30vh 0;
  background: lightgray;
}

.gallery__inner {
}

.inner {
}

.gallery__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: rem(5);
  position: relative;
}

.gallery__item {
  aspect-ratio: 1;
  overflow: hidden;
}

.text {
  text-align: center;
  font-size: rem(40);
  overflow: hidden;
}

.text span {
  display: inline-block;
}

.text-wrap {
  padding: 100vh 0;
  overflow: hidden;
}

.test-img {
  aspect-ratio: 3/2;
}
