@use 'global' as *;

body{
  background: black;
}

.mv {
  position: relative;
}
.mv__img {
  height: 100vh;
  width: 100%;
}

.mv__text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(100);
  font-family: $en-font;
  font-weight: $normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $white;
  text-align: center;
}

.mv__scroll {
  transform: translateY(-100%);
}

.mv__scroll-text {
  text-align: center;
  margin-bottom: rem(10);
  font-size: rem(20);
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@keyframes bar {
  0% {
    clip-path: inset(0% 0% 100% 0%);
  }
  30% {
    clip-path: inset(0% 0% 0% 0%);
  }
  50% {
    clip-path: inset(0% 0% 0% 0%);
  }
  80% {
    clip-path: inset(100% 0% 0% 0%);
  }
  100% {
    clip-path: inset(100% 0% 0% 0%);
  }
}

.mv__scroll-bar {
  width: 2px;
  height: rem(50);
  margin-inline: auto;
  background: $white;
  animation: bar 2s ease-out infinite;
}
