@use 'global' as *;

.test {
}

.test__inner {
  max-width: rem(1200);
  padding: 0 $padding-pc;
  margin-inline: auto;
  @include mq {
    max-width: rem(600);
    padding: 0 $padding-sp;
  }
}

.test__container {
  padding: 20vh 0;
}

.test__car {
  width: rem(150);
<<<<<<< Updated upstream
}

@keyframes car {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(rem(300));
  }
}

.test__car{
  animation: car 2s linear forwards;
=======
  margin-bottom: rem(200);
}

.test__text {
  font-size: rem(100);
  text-align: center;
  text-transform: uppercase;
  font-family: $en-font;
  font-weight: $bold;
  letter-spacing: 0.2em;
  width: fit-content;
>>>>>>> Stashed changes
}

@keyframes car {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(rem(300));
  }
}

.test__car {
  // animation: car 2s forwards ease-in-out;
}

// アニメーションプロパティ
// animation-name
// animation-duration
// animation-delay
// animation-fill-mode
// animation-direction
// animation-iteration-count
// animation-play-state
// animation-timeline
// animation-timing-function
<<<<<<< Updated upstream
=======

@keyframes text {
  0% {
    clip-path: inset(0% 100% 0% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.test__text {
  animation: text 1s;
}
>>>>>>> Stashed changes
