@charset "UTF-8";
@use '../utility/variable' as *;

/*-----------------------------------------
共通
-----------------------------------------*/
/*
サイズ用関数
$pixelsVw:フォントサイズ
$baseWidth:ベースとなる画面横幅
*/

@function vw($pixelsVw, $baseWidth) {
  @return calc($pixelsVw / $baseWidth * 100vw);
}
/*
SAMPLE
font-size: vw(30,375);
*/


/*-----------------------------------------
drink
-----------------------------------------*/
.drink {
  padding-top: rem(143);
  background-color: $white;
  @include mq {
    padding-top: rem(100);
  }
}

.drink-summary {
  background-color: $black;
  color: $white;
  padding-block: rem(143) rem(133);
  @include mq {
    padding-block: rem(60);
  }
}

.drink-menu {
  padding-block: rem(144);
  @include mq {
    padding-block: rem(60);
  }
}

.drink-menu--alcohol {
  background-color: $gray2;
}

.drink-menu__inner {
  max-width: rem(1150);
  margin-inline: auto;
  padding-inline: $padding-pc;
  @media (max-width: 1049px) {
    max-width: rem(600);
    padding-inline: $padding-sp;
  }
}

.drink-menu--alcohol .drink-menu__contents {
  position: relative;
}

.drink-menu__contents:not(:first-of-type) {
  margin-top: rem(88);
  @media (min-width: 768px) and (max-width: 1120px) {
    margin-top: rem(100);
  }
  @include mq {
    margin-top: rem(60);
  }
}

.drink-menu__title {
  display: flex;
  align-items: flex-end;
  column-gap: rem(8);
  @media (max-width: 1120px) {
    column-gap: rem(5);
  }
  @include mq {
    flex-direction: column;
    align-items: flex-start;
  }
}

.drink-menu__title span:nth-child(1) {
  font-size: rem(40);
  line-height: 1;
  letter-spacing: 0.42em;
  text-transform: uppercase;
  @media (min-width: 768px) and (max-width: 1120px) {
    font-size: rem(36);
  }
  @include mq {
    font-size: rem(30);
    letter-spacing: 0.3em;
  }
}

.drink-menu__title span:nth-child(2) {
  font-size: rem(14);
  letter-spacing: 0.01em;
  line-height: 1;
  padding-bottom: rem(7);
  @media (max-width: 1120px) {
    font-size: rem(12);
  }
  @include mq {
    margin-top: rem(5);
    text-indent: -0.5em;
  }
}

.drink-menu__note {
  font-size: rem(12);
  letter-spacing: 0.35em;
  position: absolute;
  top: rem(15);
  right: rem(-6);
  @include mq {
    font-size: rem(10);
    top: rem(-40);
    right: rem(-20);
    letter-spacing: .1em;
  }
}

.drink-menu__flex {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1049px) {
    flex-direction: column;
  }
}

.drink-menu__flex--whisky {
  margin-top: rem(37);
}

.drink-menu__flex--wine {
  margin-top: rem(37);
}

.drink-menu__flex:not(:first-of-type) {
  margin-top: rem(54);
  @media (max-width: 1050px) {
    margin-top: 40px;
  }
}

.drink-menu__category-wrap {
  width: rem(500);
  @media (min-width: 1050px) and (max-width: 1120px) {
    width: rem(460);
  }
  @media (max-width: 1049px) {
    width: 100%;
  }
}

.drink-menu__category-wrap:not(:first-of-type) {
  margin-top: 0;
  @media (max-width: 1050px) {
    margin-top: 40px;
  }
}

.drink-menu__category:not(:first-child) {
  margin-top: rem(50);
  @media (max-width: 1050px) {
    margin-top: 40px;
  }
}

.drink-category--world {
  margin-top: rem(68) !important;
  @include mq {
    margin-top: 40px !important;
  }
}

.drink-menu__img-wrap {
  width: rem(500);
  padding-top: rem(6);
  @media (min-width: 1050px) and (max-width: 1120px) {
    width: rem(460);
  }
  @media (max-width: 1049px) {
    width: 100%;
    padding-top: 0;
    margin-top: rem(60);
  }
}

.drink-menu__img:nth-child(1) {
  @media (max-width: 1049px) {
    width: 60%;
  }
}

.drink-menu__img:nth-child(2) {
  @media (max-width: 1049px) {
    width: 80%;
    margin-left: auto;
    margin-top: rem(20);
  }
}

.drink-category__title {
  position: relative;
}

.drink-category__title::before {
  position: absolute;
  content: '';
  display: block;
  bottom: rem(8);
  left: 0;
  width: 100%;
  height: rem(1);
  background-color: $black;
}

.drink-category__title span {
  position: relative;
  z-index: 2;
  display: inline-block;
  height: 100%;
  background-color: $gray2;
  text-transform: uppercase;
  font-size: rem(20);
  font-weight: $normal;
  font-family: $second-font;
  color: $black;
  line-height: calc(35 / 25);
  letter-spacing: 0.42em;
  padding-left: rem(20);
  padding-right: rem(10);
  @include mq {
    font-size: rem(18);
    letter-spacing: 0.3em;
    padding-left: rem(17);
  }
}

.drink-category__title span::before {
  content: '';
  display: block;
  position: absolute;
  top: rem(13);
  left: rem(4);
  transform: translateY(-50%);
  aspect-ratio: 1;
  background: $black;
  width: rem(4);
  border-radius: 50%;
  @include mq {
    top: rem(12);
    width: rem(4);
  }
}

.drink-category__lists {
  margin-top: rem(33);
  display: flex;
  flex-direction: column;
  row-gap: rem(17);
  @media (min-width: 768px) and (max-width: 1049px) {
    margin-top: rem(20);
  }
  @include mq {
    margin-top: rem(15);
    row-gap: rem(12);
  }
}

.drink-category__list {
  display: flex;
  justify-content: space-between;
}

.drink-category__list dt {
  font-size: rem(14);
  letter-spacing: 0.2222em;
  padding-left: rem(2);
  @include mq {
    line-height: 1.2;
    letter-spacing: 0.08em;
    padding-right: rem(5);
  }
}

.drink-category__list dt span {
  font-size: rem(11);
}

.drink-category__list dd {
  text-align: right;
  font-family: $second-font;
  font-size: rem(14);
  letter-spacing: 0.1em;
  display: flex;
  column-gap: rem(8);
  @include mq {
    line-height: 1.4;
  }
}

.drink-category__list dd span {
  display: block;
  font-family: $third-font;
  letter-spacing: 0.16em;
  @include mq {
    font-size: rem(15);
  }
}

/*-----------------------------------------
utility
-----------------------------------------*/
.drink-menu__flex.u-mt0 {
  @media (min-width: 1050px) {
    margin-top: 0;
  }
}

.drink-menu__category-wrap:not(:first-of-type) {
  @media (max-width: 1049px) {
    margin-top: rem(60);
  }
}

.drink-menu__category-wrap.u-1049 {
  @media (min-width: 768px) and (max-width: 1049px) {
    margin-top: rem(100);
  }
  @include mq {
    margin-top: rem(60) !important;
  }
}

.drink-menu__category-wrap.u-mt0 {
  @media (max-width: 1049px) {
    margin-top: 0 !important;
  }
}

.u-ws {
  white-space: nowrap;
}

/*-----------------------------------------
アレルギー
-----------------------------------------*/
.allergy {
  padding: 0 0 rem(113);
  @include mq {
    padding: 0 0 rem(60);
  }
}